@import "../../scss/mixins";
@import "../../scss/variables";

#HomePage {
	background-color: #fafafa;
}

main {
	@include flexcenter;
	row-gap: 2rem;

	@media (max-width: 800px) {
		row-gap: 1rem;
	}
}
