@import "../../scss/mixins";
@import "../../scss/variables";

.quiz-area {
	width: 100%;

	.heading {
		display: flex;
		align-items: center;
		justify-content: center;
		font: 400 3rem "Lilita One", sans-serif;
		color: #183153;
		pointer-events: none
	}

	hr {
		@include wh(100%, 0.4rem);
		background-color: #183153;
		border-radius: 20px;
		border: none;
		outline: none;
	}

	.content {
		width: 100%;
		display: flex;
		flex-direction: row;
		gap: 1.5rem;
		padding: 2rem 1.5rem;
	}
}
